#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/led/led.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,battery = &vbatt;
        zmk,underglow = &led_strip;
    };

    // 17 keys direct GPIO, pin 1 common to GND
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        debounce-press-ms = <10>;
        debounce-release-ms = <10>;
        input-gpios
            = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 1: NUM
            , <&gpio1  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 2: /
            , <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 3: *
            , <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 4: -
            , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 5: 7
            , <&gpio0  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 6: 8
            , <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 7: 9
            , <&gpio0  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 8: +
            , <&gpio0  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 9: 4
            , <&gpio0  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 10: 5
            , <&gpio0 30 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 11: 6
            , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 12: Enter
            , <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 13: 1
            , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 14: 2
            , <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 15: 3
            , <&gpio0  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 16: 0
            , <&gpio1 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // 17: .
            ;
    };

    // Battery voltage monitoring with TP4056 STBY charge status on P0.31
    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
        charge-status-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
    };

    // pinctrl for SPIM3 (MOSI=P0.26, SCK=P0.27)
    pinctrl {
        spi3_default: spi3_default {
            group1 {
                psels = <NRF_PSEL(SPIM_SCK, 0, 27)>,
                        <NRF_PSEL(SPIM_MOSI, 0, 26)>;
            };
        };
    };
};

// WS2812 RGB LEDs: 17 LEDs (one per key), data on P0.26, using SPIM3
&spi3 {
    status = "okay";
    cs-gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi3_default>;
    pinctrl-names = "default";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        status = "okay";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <17>;
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        reset-delay = <600>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};
