if SHIELD_DZ17

config ZMK_KEYBOARD_NAME
    default "DZ17"

# WS2812 RGB LED on P0.26 via SPI
config SPI
    default y

config LED_STRIP
    default y

config WS2812_STRIP
    default y

config ZMK_RGB_LED
    default y

endif
