#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/reset.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Default numpad
        //   NUM = LT(1): tap NumLock, hold for FN layer
        //   /   = LT(2): tap Divide, hold for layer 2
        default_layer {
            bindings = <
                &lt 1 KP_NUMLOCK  &lt 2 KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_MINUS
                &kp KP_N7         &kp KP_N8        &kp KP_N9        &kp KP_PLUS
                &kp KP_N4         &kp KP_N5        &kp KP_N6        &kp KP_ENTER
                &kp KP_N1         &kp KP_N2        &kp KP_N3
                &kp KP_N0                          &kp KP_DOT
            >;
        };

        // Layer 1 (hold NUM): Bluetooth + USB toggle + System
        //   FN+1/2/3 = BLE profile, FN+4 = toggle USB/BLE,
        //   FN+* = Studio unlock, FN+- = bootloader, FN+. = clear pairings
        fn_layer {
            bindings = <
                &trans       &trans       &studio_unlock   &bootloader
                &trans       &trans       &trans           &trans
                &out OUT_TOG &trans       &trans           &trans
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2
                &trans                      &bt BT_CLR
            >;
        };

        // Layer 2 (hold "/"): hold "/" and tap "*" = toggle all indicator
        // LEDs on/off (master kill switch). WS2812 strip removed; the rest
        // of this layer stays transparent.
        layer2 {
            bindings = <
                &trans &trans &czm_ledtog &trans
                &trans &trans &trans      &trans
                &trans &trans &trans      &trans
                &trans &trans &trans
                &trans       &trans
            >;
        };
    };
};
